body {
  background-color: rgb(20, 20, 20);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
}

.header-container {
  display: flex;
  justify-content: space-around;
  margin-top: 200px;
  width: 700px;
  justify-self: center;
}

.dot {
  color: grey;
}